################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseProject.DAO/bin
/BaseProject.API/obj
/.vs
/BaseProject.DAO/obj
/BaseProject.API/bin
/BaseProject.Util/obj
/BaseProject.Util/bin
