################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Global.DAO/bin
/Global.API/obj
/.vs
/Global.DAO/obj
/Global.API/bin
/Global.Util/obj
/Global.Util/bin
