@model EmailConfirmViewModel
@{
    Layout = "_LayoutMetronicLogin";
    ViewData["Title"] = "Confirmar Email";
}

@if (Model.IsConfirmed == true)
{
    <div class="text-center">
        <h4>Seu email já foi verificado anteriormente!</h4>
        <br />
        <a asp-action="Login" class="btn btn-secondary">Voltar</a>
    </div>
}
else
{

    @if (Model.EmailVerified == true)
    {
        <div class="text-center">
            <h4>Seu email foi verificado com sucesso!<br />Por favor, clique <a asp-action="Login">aqui</a> para fazer o login!</h4>
        </div>

    }
    else
    {
        if (Model.EmailSent)
        {
            <div class="text-center">
                <h4>
                    Enviamos para seu email um link de confirmação!<br /><br />
                    Por favor verifique sua caixa de spam!
                </h4>

                <div class="login-form login-signin py-11">

                    <form class="form" asp-action="ConfirmEmail" onsubmit="CheckValidation();">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Email" />

                        <p>Não recebeu nenhum email ou o deletou por engano?</p>
                        <div class="form-group">
                            <input type="submit" value="Reenviar" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4" />
                        </div>
                    </form>

                </div>
            </div>
        }
        else
        {
            <div class="login-form login-signin py-11">

                <form class="form" asp-action="ConfirmEmail" onsubmit="CheckValidation();">

                    <div class="text-center pb-8">
                        <h3 class="font-weight-bolder text-dark display5">Confirmar Email</h3>
                        <p class="text-muted font-weight-bold font-size-h4">Insira seu email para enviarmos um link de confirmação!</p>
                    </div>

                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder text-dark" asp-for="Email"></label>
                        @if (Model.Email != null)
                        {
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" asp-for="Email" value="@Model.Email" />
                        }
                        else
                        {
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" asp-for="Email" />
                        }
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4" />
                    </div>
                </form>

            </div>
        }

    }

}

