@model ResetPasswordViewModel

@{
    Layout = "_LayoutMetronicLogin";
    ViewData["Title"] = "Redefinir Senha";
}

<!--begin::Reset-->
<div class="login-form login-signin py-11">
    <!--begin::Form-->
    <form class="form" asp-action="ResetPassword" onsubmit="BlockPage();">
        <!--begin::Title-->
        <div class="text-center pb-8">
            <h3 class="font-weight-bolder text-dark display5">Redefina sua senha</h3>
        </div>
        <!--end::Title-->
        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <!--begin::Form group-->
        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">Redefinir</button>
        </div>
        <!--end::Form group-->
    </form>
    <!--end::Form-->
</div>
<!--end::Reset-->