@{
    Layout = "_LayoutMetronicLogin";
    ViewData["Title"] = "Redefinir Senha";
}

<div class="text-center">
    <h4>
        Sua senha foi redefinida!<br />
        Por favor, clique <a asp-action="Login">aqui</a> para fazer o login!
    </h4>    
</div>

