@{
    ViewData["Title"] = "Perfil do Usuário";
}

<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">

    <div class="form-group w-350px">

        <h1>@ViewData["Title"]</h1>
        <hr />

        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="symbol symbol-100 mr-5" style="margin-top: 30px">
                <div class="symbol-label"></div>
                <i class="symbol-badge bg-success"></i>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">@User.Identity.Name</a>

                <div class="navi mt-2">
                    <a class="navi-item" asp-action="ChangePassword">Alterar Senha</a>
                </div>
            </div>
        </div>

        <div class="text-center" style="margin-top: 30px">
            <a class="btn btn-secondary w-80px mr-5" asp-action="Index">Home</a>
            <a class="btn btn-danger w-80px" asp-action="Logout">Sair</a>
        </div>
    </div>
</div>




