@model ErrorViewModel
@{
    Layout = "_LayoutError";
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>

    }
    else
    {
        <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem">@Html.Raw(Model.ErroCode)</h1>
        <p class="font-size-h3 text-muted font-weight-normal">@Html.Raw(Model.Titulo)</p>
        <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
    }
}
