@{
    ViewData["Title"] = "Esqueci minha senha";
}

<div class="text-center">
    <h4>
        Se você tem uma conta cadastrada nós enviaremos um email<br />
        com as instruções para redefinir sua senha.<br />
        Por favor, verifique sua caixa de spam!
    </h4>
    <br />
    <a asp-action="Login" class="btn btn-secondary">Voltar</a>
</div>

