@model ForgotPasswordViewModel

@{
    Layout = "_LayoutMetronicLogin";
    ViewData["Title"] = "Esqueci minha senha";
}

<!--begin::Forgot-->
<div class="login-form login-signin py-11">
    <!--begin::Form-->
    <form class="form" asp-action="ForgotPassword">
        <!--begin::Title-->
        <div class="text-center pb-8">
            <h3 class="font-weight-bolder text-dark display5">Esqueceu sua senha?</h3>
            <p class="text-muted font-weight-bold font-size-h4">Insira seu email para redefinir sua senha</p>
        </div>
        <!--end::Title-->
        <!--begin::Form group-->
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">Enviar</button>
            <a class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4" asp-action="Login">Voltar</a>
        </div>
        <!--end::Form group-->
    </form>
    <!--end::Form-->
</div>
<!--end::Forgot-->