@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.IsSuccess == false)
{
    <div class="container w-600px">
        <div style="padding-top: 15px;"></div>

        <div class="text-center alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3 id="msgRetorno" style="padding-top: 20px">Ops, algo deu errado :(</h3>
            <div style="padding-top: 20px">
                <li>Email ou senha incorreto!</li>
            </div>
        </div>
    </div>
}

<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">

    <div class="login-form login-signin w-350px">

        <h1>@ViewData["Title"]</h1>
        <hr />

        <form class="form fv-plugins-bootstrap fv-plugins-framework" asp-action="Login">
            <div class="form-group fv-plugins-icon-container">
                <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                <input class="form-control" type="email" placeholder="email@email.com" name="email" autocomplete="off">
                <div class="fv-plugins-message-container"></div>
            </div>
            <div class="form-group fv-plugins-icon-container">
                <label class="font-size-h6 font-weight-bolder text-dark">Senha</label>
                <input class="form-control" type="password" placeholder="senha" name="password" autocomplete="off">
                <div class="fv-plugins-message-container"></div>
            </div>

            <!--

            <div class="form-group" style="vertical-align: middle">
                <input type="checkbox" name="ManterConectado" checked />
                <label class="font-size-h7 font-weight-bolder">Manter conectado</label>
            </div>

            -->

            <div class="form-group d-flex flex-wrap justify-content-end align-items-center">
                <a asp-action="ForgotPassword" class="mr-40">Esqueceu a senha?</a>
                <input type="submit" value="Entrar" class="btn btn-primary mr-5" />
                                
            </div>

        </form>

    </div>

</div>





