@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="container w-600px">
        <div style="padding-top: 15px;"></div>

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3 id="msgRetorno" style="padding-top: 10px" class="text-center">Ops! Algo deu errado :(</h3>
            <div style="padding-top: 20px" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
}

<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">

    <div class="form-group w-350px">

        <h2>@ViewData["Title"]</h2>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <form method="post">

                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control w-350px" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control w-350px" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Redefinir</button>
                </form>
            </div>
        </div>

    </div>

</div>